/* ------------------------------ media query pour l'ensemble de la page ------------------------------ */ 

@media all and (max-width: 1024px)
{
		h1
	{
		font-size: 1.8em;
	}

	h2, p, a
	{
		font-size: 0.8em;
	}

	section
	{
		margin-bottom: 0px;
	}
}

/* ------------------------------ media query pour l'en-tête du site ------------------------------  */

@media all and (max-width: 1024px)
{
	header
	{
		position: static;
		height: 130px;
	}

	header img
	{
		width: 100%;
		height: auto;
	}

    header nav
    {
        text-align: left;
    }
    
    header nav ul
    {
        flex-direction: column;
    }

    header nav li
    {
        margin-bottom: 3px;
    }
    
    header nav a:hover
	{
	color: #000000;	
	border-top: none;
	}
} 

@media all and (max-width: 767px)
{
	header
	{
		display: flex;
		justify-content: center;
		height: 60px;
		padding-bottom: 0px;
	}

	header nav
	{
		display: none;
	}

	#logo
	{
		width: 40%;
		height: auto;
		margin-left: 0px;
	}
}

/* ------------------------------ media query pour l'écran d'accueil ------------------------------  */

@media all and (max-width: 1024px) 
{
	.ecran_accueil
	{
		margin-top: 0px;
		height: auto;
	}

	.ecran_accueil img
	{
		position: relative;
	}

	.texte_accueil
	{
		left: 10%;
		top: 5%;
	}
} 

@media all and (max-width: 767px)
{
	.ecran_accueil
	{		
		display: none;
	}
}


/* ------------------------------ media query pour les services ------------------------------  */

@media all and (max-width: 1024px) 
{
	.ecran_evenements
	{
		margin-top: 40px;
	}

	.contenu_evenements
	{		
		margin-top: 20px;	
	}

	.contenu_evenements p
	{
		text-align: justify;
		margin-right: 10px;
	}

	.image_evenements
	{
		display: none;	
	}

	.presentation_des_evenements
	{
		width: 100%;
	}
}

@media all and (max-width: 767px)
{
	.ecran_evenements
	{
		margin-top: 0px;
	}
}

/* ------------------------------ media query pour les projets ------------------------------  */


@media all and (max-width: 1024px) 
{
	.ecran_projets
	{
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.nav_projets
	{
		margin-top: 10px;
	}

	.images_projets
	{
		margin-top: 0px;
		display: flex;
		flex-direction: row;
	}

	.ligne_images_projets
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;		
		width: 50%;
	}

	.ligne_images_projets:nth-child(1)
	{
		padding-left: 15%;
		padding-right: 1%;
	}

	.ligne_images_projets:nth-child(2)
	{
		padding-right: 15%;
		padding-left: 1%;
	}

	.photo_du_projet
	{
		width: 100%;			
	}
}

@media all and (max-width: 767px)
{
	.nav_projets
	{
		margin-top: 0px;
	}

	.nav_projets ul
	{
		flex-direction: column;
	}

	.nav_projets li
	{
  		padding: 3px;
  		width: 100px;
  		box-shadow: none;   
  		text-align: center; 
	}

	.nav_projets i
	{
		display: none;
	}

	.nav_projets li:hover
	{	
    	box-shadow: none;    
    	border-radius: 3px 3px 3px 3px;  	
	} 

	.nav_projets li:nth-child(1):hover
	{	
		border-radius: 3px 3px 3px 3px;   	
	}

	.nav_projets li:nth-child(4):hover
	{	
		border-radius: 3px 3px 3px 3px;      	
	}

	.ligne_images_projets:nth-child(1)
	{
		padding-left: 2%;
		padding-right: 1%;
	}

	.ligne_images_projets:nth-child(2)
	{
		padding-right: 2%;
		padding-left: 1%;
	}

	.photo_du_projet i
	{
		display: none;	
	}

	.texte_item
	{
		height: 90px;
	}

	.texte_item h1
	{
		padding-left: 5px;
		font-size: 1em;
	}

	.texte_item p
	{
		padding-left: 5px;
	}
}

@media all and (max-width: 480px)
{
	.texte_item
	{
		height: 50px;
	}

	.texte_item h1
	{
		padding-left: 3px;
		font-size: 0.7em;
		margin-top: 5px;
		margin-bottom: 5px;		
	}

	.texte_item p
	{
		padding-left: 3px;
		font-size: 0.7em;
	}
}

/* ------------------------------ media query carte et formulaire de contact ------------------------------  */

@media all and (max-width: 767px)
{
	.ecran_contact
	{
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		height: 630px;
		margin-left: 0px;
		margin-right: 0px;
		position: static;
		background-color: white;	
	}

	.carte
	{
		position: static;
		height: 210px;		
	}

	.formulaire_contact
	{
		height: 250px;
	}

	form
	{
		position: static;
		text-align: center;
		background-color: #F5F5F5;
		margin-top: 0px;
		padding-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;	
		width: 100%;		
	}

	form h1
	{
		padding-top: 20px;
	}

	input, textarea
	{
		width: 70%;
	}

	.bouton_bleu_envoyer
	{
	    font-size: 0.9em;
	}
}
