
/* ------------------------------ définitions valables pour toute la page ------------------------------ */

h1
{
	font-size: 2em;
}

h2, p, a
{
	font-size: 1em;
}

section
{
	width: 100%;
	margin-bottom: 50px;
}

#bloc_page
{
    width: auto;
    background-color: white;
    font-family: 'Roboto', sans-serif; 
}


/* ------------------------------ Header ------------------------------  */

header
{
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding-top: 16px;
	padding-bottom: 16px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	z-index: 4;
}

#logo
{
	margin-left: 5%;
}

/* ---------- Navigation site ----------  */

nav
{
	margin-right: 5%;
	margin-top: 10px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
	text-align: center;
}

nav a
{
    color: #868686;
    text-decoration: none;
    padding-top: 23px;
	padding-right: 10px;
	padding-left: 10px;
}

header nav a:hover
{
	color: #000000;
	border-bottom: 4px solid #32ca6c; 	
}

/* ------------------------------ Section 1 : écran d'accueil de bienvenue ------------------------------  */

.ecran_accueil
{
	position: relative;
	max-height: 800px;
	margin-top: 65px;	
	overflow: hidden;
}

.ecran_accueil img
{
	position: relative;	
	left: 0px;
	bottom: 0px;
 	width: 100%;
 	height: 30%;	
	z-index: 1;
} 

.texte_accueil 
{
	position: absolute;
	color: white;
	top: 25%;
	left: 8%;
	height: auto;
	z-index: 2;
}

.ecran_accueil h2
{
	margin-bottom: 20px;
}

.ecran_accueil h1 .association
{
	color: white;
}

.bouton_vert_infos
{
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	background-color:#32ca6c;
	color: white;
    text-decoration: none;
    padding: 5px 8px 5px 8px;
    border-radius: 3px;
    box-shadow: 0px 5px 0px #ffffff; 
}

/* ------------------------------ Section 2 : évènements de l'association ------------------------------  */

.titre_evenements
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titre_evenements p
{
	text-align: center;
}


/* ---------- déco sous titre services et projets ----------  */

.deco_titre
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.bordure_grise
{
	width: 50px;
	border: 0.5px #D4D4D4 solid; 
}

.rond_vert
{
	border: 0.5px #FFFFFF solid;
	border-radius: 50px 50px 50px 50px;
	position: relative;
	height: 20px;
	width: 20px;
}

.rond_vert i
{
	color: #32ca6c;
	font-size: 0.8em;
	position: absolute;
	top: 4.5px;
	left: 3.5px;
}




/* ---------- contenu évènements ----------  */


.contenu_evenements
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;
	width: 100%;
}

.image_evenements
{
	width: 40%;	
}

.image_evenements img
{
	width: 100%;
	height: auto;
}

.icone-evenement img
{
	width: 40;
	height: 40;
}

.presentation_des_evenements
{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.element_evenements
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

 /* ---------- texte évènements ----------  */

.texte_evenements
{
	padding-left: 5px;
}

.texte_evenements h2
{
	font-size: 1.2em;
}

.texte_evenements p
{
	text-align: left;
}


/* ------------------------------ Section 3 : Projets de l'association ------------------------------  */

.ecran_projets
{
	background-color: #F5F5F5;
}

.titre_projets
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titre_projets p
{
	text-align: center;
}



/* ---------- Navigation projets de l'association  ----------  */

.nav_projets
{
	margin-top: 50px;
}

.nav_projets ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;   
    align-items: center;
}

.nav_projets li
{
	margin: 0px;
	position: relative;
	background-color: #E5E5E5;
  	padding: 10px;
  	box-shadow: 0px 3px 0px #E5E5E5;    
}

.nav_projets i
{
	position: absolute;
	font-size: 1em;
	left: 45px;
	bottom: -12px;
	color: #4494BB;
	visibility: hidden;
}

.nav_projets a
{
    color: #65696E;  
    text-decoration: none;   
}

.nav_projets li:hover
{	
	background-color:  #32ca6c;
    box-shadow: 0px 3px 0px #32ca6c;     	
}

.nav_projets li:nth-child(1):hover
{	
	border-radius: 5px 0px 0px 5px;    	
}

.nav_projets li:nth-child(4):hover
{	
	border-radius: 0px 5px 5px 0px;     	
}

.nav_projets li:hover a
{
	color: #FFFFFF;
}

.nav_projets li:hover i
{
	visibility: visible;
}

/* ---------- Images projets de l'association ----------  */

.images_projets
{
	margin-top: 50px;
	width: 100%;
}

.ligne_images_projets
{
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
	width: 100%;
}

.photo_du_projet
{
	max-width: 639px;
	max-height: 400px;
	margin: 10px;
	padding: 0px;
	position: relative;
	overflow: hidden;
}

.photo_du_projet img
{
	width: 100%;
	height: auto;
	vertical-align: bottom;
	z-index: 1;
}

.texte_item
{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.4); 
	visibility: hidden;
	z-index: 2;
}

.texte_item h1
{
	color: #FFFFFF;
	font-size: 1em;
	padding-left: 10px;
}

.texte_item p
{
	color: #FFFFFF;
	padding-left: 10px;
	margin-top: 0px;
}

.photo_du_projet i
{
	position: absolute;
	bottom: 50px;
	right: 8px;
	background-color: #32ca6c;
	color: #FFFFFF;
	font-size: 1em;
	border: 2px #FFFFFF solid; 
	border-radius: 50px 50px 50px 50px;
	padding: 10px;
	visibility: hidden;
	z-index: 3;
}

.photo_du_projet:hover .texte_item
{
	visibility: visible;
}

.photo_du_projet:hover i
{
	visibility: visible;
}



/* ------------------------------ Section 4 : carte de situation de l'association avec un formulaire de contact ------------------------------  */

.ecran_contact
{
	height: 450px;
	position: relative;
	background-color:#32ca6c;	
}

.carte
{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 450px;
	width: 100%;
	border:0;	
	opacity: 0.8;
	z-index: 1;
}

form
{
	position: absolute;
	top: 20px;
	right: 10%;
	background-color: rgba(255,255,255,0.8);
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 3;	
}

form h1
{
	font-size: 1.3em;
}

.bouton_vert_envoyer
{
	font-size: 0.7em;
	font-weight: bold;
	text-align: left;
	background-color:#32ca6c;
	color: white;
    text-decoration: none;
    padding: 5px 8px 5px 8px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 4px 0px #32ca6c; 
    width: 95px;
}

input, textarea
{
	width: 100%;
	font-family: 'Roboto', sans-serif; 
}

